#stepperMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.stepperCircle {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cae7fe;
}

.stepperCircleInactive {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stepperCircleInactiveNormal {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-Bridge {
  height: 0.313rem;
  background-color: #cae7fe;
  flex: 1;
}

.stepper-Bridge-Half {
  height: 0.313rem;
  background-color: #cae7fe;
  width: 40%;
}

#contentContainerMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  color: dodgerblue;
  height: 3.125rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.divmargin {
  flex: 1;
  height: 0.313rem;
}

.inactive {
  visibility: hidden;
}

.blueDot {
  background-color: dodgerblue;
  width: 0.938rem;
  height: 0.938rem;
  border-radius: 50%;
}

.blueDotNormal {
  background-color: dodgerblue;
  width: 10.938rem;
  height: 0.938rem;
  border-radius: 50%;
  position: absolute;
}
