.input-selector-container {
  border: 1px solid var(--border-color);
}
.input-selector {
  flex: 3;
  border: none;
  border-right: 1px solid var(--border-color) !important;
}
.selector {
  flex: 2;
  border: none;
}
