#selected-moderators {
  height: 350px;
  max-height: 350px;
  width: 50vw;
  max-width: 50vw;
  resize: none;
}
#moderator-selection-dropdown {
  height: 400px;
  z-index: 99;
  resize: none;
}
.title {
  padding-top: 1vh;
  padding-left: 1vh;
  font-size: 0.9rem;
  font-weight: bold;
}
.moderator-list {
  box-shadow: 0 10px 6px -6px var(--border-color);
}
.moderator-card-btn {
  line-height: inherit !important;
  min-width: 10px !important;
  padding: 5px !important;
}
