#selected-moderators {
  height: 350px;
  max-height: 350px;
  resize: none;
}
#moderator-selection-dropdown {
  height: 400px;
  z-index: 1000;
  resize: none;
}
.title {
  padding-top: 1vh;
  padding-left: 1vh;
  font-size: 0.90rem;
  font-weight: bold;
}