.sk-three-bounce {
  margin: auto;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sk-three-bounce .sk-child {
  width: 18px;
  height: 18px;
  background-color: var(--primary);
}
