#address-card {
  cursor: pointer;
}
#address-types {
  margin-bottom: 1.5%;
}
#address-type-label {
  margin-right: 1%;
}
#address-right-label {
  top: 5%;
  left: 2.5%;
}
#address-title {
  font-size: 1.1rem;
}
#address-text {
  font-size: 0.85rem;
}
.address-card-font {
  color: #a3a3a3;
}
