#introduction-logo {
  /* width: 45%;
  height: 22.5%; */
  /* margin-right: 7.5%; */
}
#connection-text {
  text-align: end;
}
#djali-text {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}
#description-text {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  overflow: hidden;
  opacity: 0.68;
}
#new-to-djali-text {
  font-size: 1.05rem;
  text-align: center;
  font-weight: bold;
  margin-right: 2%;
  cursor: default;
}
#body-item {
  padding-bottom: 4%;
  justify-content: center;
  display: flex;
}
#introduction-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#introduction-footer > button {
  padding: 0 15px;
}
