#moderator-card-img {
  max-width: 100px;
  max-height: 100px;
}
#moderator-card-content {
  flex: 10;
  overflow: hidden;
}
#moderator-card-btn {
  padding: 0 5px;
  min-width: 15px;
  font-size: 1.75rem;
  line-height: 25px;
}
#moderator-card-description {
  font-size: 0.8rem;
  max-width: 550px;
}
#moderator-card-fees {
  font-size: 0.9rem;
}
#moderator-card-fees > span > svg {
  height: 15;
}
#moderator-card-more-link {
  font-size: 0.75rem;
}
.radio-cont {
  height: 100%;
}
.bar-select {
  border-left: 10px solid dodgerblue;
}
