#profile-other-information {
    margin-bottom: 2rem;
}

#title-other-information {
    color: dodgerblue;
    font-weight: bold;
}

#information-title {
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

