#profile-payout {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#title-social-media {
    color: var(--primary);
    font-weight: bold;
}

#social-media{
    /* margin-bottom: 2%; */
    margin-top: 2rem;
    display: flex;
}

#social-media > div{
    float:left;
}

#account-icon {
    padding-right: 2%;
}

.blueIcon {
    color: var(--primary);
}
