#side-menu-with-content-card {
  padding: 0;
  min-height: 85%;
}
#side-menu-card-nav {
  flex: 1;
}
#side-menu-with-content-main {
  flex: 3;
  padding: 1.5% 0;
}
#card-content-back-btn {
  float: left;
  margin-left: 2.5%;
  font-size: 1.75rem;
}
#side-menu-with-content-card-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#side-menu-with-content-card-component {
  margin-top: 2.5%;
  padding: 2% 10% 0 10%;
  min-height: 80%;
  display: flex;
}
.not-visible {
  visibility: hidden;
  margin-right: 15px;
}
#button-menu-create-listing {
  visibility: hidden;
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  #side-menu-card-nav {
    background-color: red;
    display: none;
  }
  #button-menu-create-listing {
    visibility: visible;
  }
  #side-menu-with-content-card-component {
    padding: 1% 5% 1% 5%;
  }
}
