#listing-main {
    margin-bottom: 2rem;
}
.animCont {
    transition-timing-function: ease;
    transition: height 0.5s;
    -webkit-transition: height 1s;
    overflow: hidden;
    height: 250px;
}
#title-terms {
    color: var(--primary);
    font-weight: bold;
}
#terms-content {
    padding-top: 2%;
    padding-bottom: 1%;
}
.moreContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    box-shadow:inset 0 -280px 100px -150px white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.moreContainerTwo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.moreBtn {
    color: var(--primary);
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.moreBtn:hover {
    text-decoration: underline;
}
