#crypto-balance-main {
    padding: 20px 10px 20px 10px!important;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
}

#left-cont-bal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#middle-cont-bal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 0.5px solid var(--secondary);
    border-left: 0.5px solid var(--secondary);
}

#right-cont-bal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bal-bold-text {
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary);
}

.value-bal {
    font-size: 25px;
    font-weight: 700;
    color: var(--primary);
}

.stat-bal {
    font-size: 12px;
    color: var(--secondary);
}