#container {
  background-color: #f1f9ff;
  padding: 2rem 10% 2rem 10%;
}
#listing-header {
  display: flex;
  width: 100%;
}
#left-content {
  flex: 1.5;
  position: 'relative';
}
#right-content {
  flex: 2;
  padding-left: 30px;
}
.card-head {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
#head-content {
  display: flex;
  flex-direction: column;
}
.text-blue {
  color: #2699fb !important;
}
.empty-fill * {
  fill: none;
}
.blue-fill * {
  fill: #2699fb;
}
#rating {
  height: 24px;
  font-size: 19px;
}
.priceSize {
  font-size: 1.9rem;
}
#footerContent {
  display: flex;
}
#footerContentLeft {
  flex: 1;
}
#footerContentRight {
  flex: 1;
}
#hourSelector {
  background-color: rgb(228, 225, 225);
  padding: 7px;
  border-radius: 5px;
}
#soldByCont {
  display: flex;
}
#soldByContRight {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#soldByContLeft {
  flex: 1;
}
.underlinedText {
  text-decoration: underline;
}
#soldbytext {
  line-height: 34px;
}
.text-gray {
  color: #666;
}
.inside-content {
  padding-top: 2%;
}
