.image-avatar {
  height: 64px;
  width: 64px;
  object-fit: cover;
}
.inside-content ul {
  padding-left: 2rem;
}
#container {
  background-color: #f1f9ff;
  padding: 2rem 2.5% 2rem 2.5%;
  font-size: 16px;
}
.card-head {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.text-blue {
  color: #2699fb !important;
}
.empty-fill * {
  fill: none;
}
.blue-fill * {
  fill: #2699fb;
}
.hour-selector {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid var(--primary);
  height: 2em;
  width: 2em;
}
.hour-selector:hover {
  background-color: #e4e1e1;
}
.text-gray {
  color: #666;
}
.inside-content {
  padding-top: 2%;
  padding-left: 1%;
}
#listing-title {
  font-size: 2em;
  font-weight: bold;
}
#price {
  font-size: 1.9rem;
}
#price-container {
  line-height: 1;
}
.enumeration {
  margin-left: 0.5em;
  line-height: 2em;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2em;
  font-size: 0.9em;
  font-weight: bold;
}
.enumeration:first-child {
  margin-left: 0;
}
.tag {
  padding: 0;
  margin: 0;
}
.tag:not(:first-child)::before {
  content: ", ";  
}
#order-quantity {
  border: none;
  width: 4em;
}
.star {
  font-size: 1.5em;
}
#vendor-info-name {
  font-size: 1.1em;
  font-weight: bolder;
}
#vendor-info:hover {
  cursor: pointer;
}
#vendor-info:hover #vendor-info-name {
  color: #2699fb; 
}