#moderator-info-img {
  width: 70%;
  height: 70%;
}
#moderator-info-location {
  font-size: 0.6rem;
}
#moderator-info-location > span > svg {
  height: 15px;
}
#moderator-info-button {
  line-height: 20px;
  font-size: 0.7rem;
  padding: 0 12px;
  min-width: 50px;
}
#moderator-info-table-header > div {
  text-align: center;
}
#moderator-info-table-header > div > label {
  font-size: 0.5rem;
  color: var(--secondary);
}
#moderator-info-table-body > div {
  max-height: 60px;
  overflow: overlay;
}
#moderator-info-table-body > div > p {
  text-align: center;
}
#moderator-info-table-body > div > div > p {
  font-size: 0.85rem;
  text-align: center;
}
#moderator-info-terms {
  max-height: 265px;
  overflow: overlay;
  font-size: 0.9rem;
}
