#settings-modal {
  display: none;
}
#selected-list {
  border-left: 4px var(--primary);
}
#settings-body {
  padding: 0;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#settings-list {
  width: 30%;
  flex: 1;
}
#settings-list-title {
  font-weight: 700;
  font-size: 1.05rem;
}
#not-selected {
  margin-left: 4px;
}
li#selected {
  border-left: 4px solid var(--primary);
}
li#selected > a {
  color: var(--primary);
  font-weight: bold;
}
a#selected {
  color: var(--primary);
  font-weight: 400;
}
#settings-modal-dialog {
  width: 85%;
  height: 100%;
}
#modal-content {
  flex: 6;
  padding: 2.5% 0 2.5% 0;
}
#content-title {
  text-align: center;
  font-weight: bold;
}
#settings-content {
  height: 95%;
  border: none;
  padding: 2% 10% 0 10%;
}
#settings-back-btn {
  float: left;
  margin-left: 2.5%;
  font-size: 1.75rem;
  color: var(--primary);
}
.list-item {
  color: #a3a3a3;
  font-weight: bold;
}
.uk-panel-scrollable {
  resize: none;
}
