:root {
  --primary: #2699fb;
  --secondary: #a3a3a3;
  --border-color: #bce0fd;
  --background-body: #f1f9ff;
}
::placeholder {
  color: var(--primary);
}
body * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
label,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}
label .required {
  color: #ff0000;
  font-size: 0.8rem;
}
.background-body {
  background: var(--background-body);
}
.color-primary {
  color: var(--primary) !important;
}
.color-secondary {
  color: var(--secondary);
}
.color-danger {
  background-color: #ff5050;
}
.uk-input,
.uk-textarea {
  border-color: var(--border-color);
  color: var(--primary) !important;
}
.default-border {
  border: 1px solid var(--border-color);
}
textarea {
  resize: none;
  border-color: var(--border-color);
}
.form-field-border {
  border: 1px solid var(--border-color);
}
.form-label-desciptor {
  font-size: 0.6rem;
  color: var(--primary);
}
.submit-btn-div {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-end;
}
.uk-button-primary {
  background-color: var(--primary);
}
.uk-button {
  border-radius: 7.5%;
  font-size: 0.75rem;
  padding: 0 20px;
  min-width: 100px;
}
.uk-flex-2 {
  flex: 2;
}
.uk-flex-3 {
  flex: 3;
}
.uk-flex-4 {
  flex: 4;
}
.uk-width-1-10 {
  width: 10%;
}
.uk-button:disabled {
  background-color: var(--primary);
  opacity: 0.75;
}
.uk-checkbox:checked {
  background-color: var(--primary);
}
.uk-link:hover,
a:hover {
  color: var(--primary);
  text-decoration: none;
}
.add-field {
  font-size: 0.65rem;
  margin-top: -10px;
  position: absolute;
  text-decoration: underline;
  color: var(--primary);
}
.full-vh {
  height: 100vh;
}
.full-width {
  width: 100%;
}
.max-content-width {
  width: max-content;
}
.djali-logo-form {
  width: 15%;
}
.text-underline {
  text-decoration: underline;
}
.button-small-padding {
  padding: 0 15px;
}
.dv-star-rating {
  font-size: 1.25rem;
  letter-spacing: 7.5px;
}
.dv-star-rating-full-star {
  color: var(--primary) !important;
}
.dv-star-rating-empty-star {
  opacity: 0.42 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.uk-notification-top-center {
  border-radius: 2px;
  -webkit-box-shadow: 0 10px 10px -8px #969696;
  box-shadow: 0 10px 10px -8px #969696;
}
