:root {
  --primary: #2699fb;
  --border-color: #bce0fd;
}
::placeholder {
  color: var(--primary);
}
body * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
label .required {
  color: #ff0000;
  font-size: 0.8rem;
}
.color-primary {
  color: var(--primary) !important;
}
.uk-input,
.uk-textarea {
  border-color: var(--border-color);
  color: var(--primary) !important;
}
textarea {
  resize: none;
}
.form-field-border {
  border: 1px solid var(--border-color);
}
