:root {
  --primary: #2699fb;
  --border-color: #bce0fd;
  --background-body: #f1f9ff;
}
::placeholder {
  color: var(--primary);
}
body * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
label .required {
  color: #ff0000;
  font-size: 0.8rem;
}
.background-body {
  background: var(--background-body);
}
.color-primary {
  color: var(--primary) !important;
}
.uk-input,
.uk-textarea {
  border-color: var(--border-color);
  color: var(--primary) !important;
}
textarea {
  resize: none;
}
.form-field-border {
  border: 1px solid var(--border-color);
}
.form-label-desciptor {
  font-size: 0.6rem;
  color: var(--primary);
}
.submit-btn-div {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-end;
}
.uk-button-primary {
  background-color: var(--primary);
}
.uk-button {
  border-radius: 7.5%;
  font-size: 0.75rem;
}
.add-field {
  font-size: 0.65rem;
  margin-top: -10px;
  position: absolute;
  text-decoration: underline;
  color: var(--primary);
}
.full-vh {
  height: 100vh;
}
.full-width {
  width: 100%;
}
