#image-nav {
  max-height: 75px;
  max-width: 75px;
}
#select-upload {
  cursor: pointer;
  color: var(--primary);
}
.img-li-cont {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0000;
}
