#image-nav {
  max-height: 75px;
  max-width: 75px;
}
#select-upload {
  cursor: pointer;
  color: var(--primary);
}
.img-li-cont {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0000;
}
.thumbnav-drag-attempt {
  border: dodgerblue 5px dashed;
}
.thumbnav-image-preview {
  object-fit: contain;
  height: 100%;
}