#cover-photo {
  background-color: var(--primary);
  color: #fff;
  height: 250px;
}
#profile-header {
  box-shadow: 1px 1px 3px 3px #ccc;
  display: flex;
}
#header > div {
  float: left;
}
#header-btn {
  background-color: #6abafd;
  font-weight: 700;
  border-radius: 0;
}
#header-btn:hover {
  filter: contrast(0.8);
}
#tab-label {
  font-weight: bold;
  color: var(--primary);
}
#label-number {
  color: #808080;
}
#profile-header-tab {
  padding-top: 2%;
  width: 80%;
}
#profile-header-picture {
  margin-top: -9%;
  padding-bottom: 0.1%;
  padding-left: 7%;
  align-self: flex-end;
}
#profile-header-picture > img {
  width: 161px;
  object-fit: cover;
  border-radius: 80.5px;
  border: solid 9px white;
}
#profile-header-name {
  margin-top: -7%;
  padding-bottom: 3%;
  margin-left: 1rem;
}
#profile-header-name > h3 {
  color: var(--light-text);
  font-weight: bolder;
}
#title-about {
  color: var(--primary);
  font-weight: bold;
}
#container-profile {
  margin-bottom: 2rem;
  background-color: #f1f9ff;
}
#container-profile > li {
  min-height: 45vh;
  padding: 2rem 10%;
}
#container-profile > li#profile-ratings {
  padding: 0;
}

.hidden-profile-options-2 {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .hidden-profile-options {
    display: none !important;
  }
  .hidden-profile-options-2 {
    display: block !important;
  }
  #profile-header {
    margin-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
    padding: 0px;
    padding-top: 30px;
    width: 100%;
  }
  #profile-header-tab {
    background-color: white;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  #profile-header-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  #profile-header-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding-bottom: auto;
    padding-left: 0;
  }
  #cover-photo {
    background-color: var(--primary);
    color: #fff;
    height: 0px;
  }
}
