#title-cont {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  -webkit-app-region: drag;
}
#control-cont {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-evenly;
}
#control-cont > a {
  -webkit-app-region: no-drag;
}
#url-input {
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  -webkit-app-region: no-drag;
  font-size: 16px;
  text-indent: 10px;
}
#url-input:focus {
  outline: none;
}
#url-cont {
  flex: 1;
}
#buttons-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
}
#buttons-cont > a {
  -webkit-app-region: no-drag;
}
.icon-arrows {
  margin-top: 1px;
}
#disable-icon-arrow {
  opacity: 0.25;
  pointer-events: none;
}
