#nav {
  background-color: var(--primary);
}
#search-bar {
  background-color: #fff;
  /* color: var(--primary); */
  font-size: 0.85rem;
}
#search-bar-form {
  flex: 1;
}
#title-logo {
  font-size: 1.9rem;
  flex: 1;
  font-weight: bold;
  color: #fff !important;
}
#navbar-left-item {
  width: 22%;
}
#navbar-right-item {
  margin-right: 2%;
}
#navbar-center-item {
  width: 52%;
}
#account {
  text-align: right;
  color: #fff !important;
  margin-right: 5%;
}
#create-listing {
  color: white
}