#nav {
  background-color: var(--primary);
}
#logo-img {
  width: 115px;
  height: 60px;
}
#search-bar {
  background-color: #fff;
  /* color: var(--primar y); */
  font-size: 0.85rem;
}
#search-bar-form {
  flex: 1;
}
#navbar-left-item {
  width: 22%;
  padding-left: 2%;
}
#navbar-right-item {
  margin-right: 2%;
}
#navbar-center-item {
  width: 52%;
}
#account {
  text-align: right;
  color: #fff !important;
  margin-right: 5%;
  min-height: 0;
}
#create-listing {
  color: white;
}
.uk-navbar-item {
  min-height: 60px;
}
