#nav {
  background-color: var(--primary);
  z-index: 100;
}
#logo-img {
  width: 200px;
  height: auto;
}
#search-bar {
  background-color: #fff;
  font-size: 0.85rem;
}
#search-bar-form {
  flex: 1;
}
#navbar-left-item {
  width: 22%;
  padding-left: 2%;
}
#navbar-right-item {
  margin-right: 2%;
}
#navbar-center-item {
  width: 52%;
}
.navbar-icon {
  padding: 0 20px !important;
}
.navbar-icon > span {
  color: #ffffff !important;
  padding: 0 0 !important;
}
#create-listing {
  color: #ffffff;
}
