.image-cover {
  object-fit: cover;
}

.image-contain {
  object-fit: contain;
}

.image-selected {
  border: 3px solid rgb(0, 89, 255);
}
.main-img {
  max-height: 15em;
  height: 15em;
  width: auto;
  display: flex;
  justify-content: center;
}
.main-img-child {
  flex: 1
} 
.btn-nav-left {
  height: 5rem;
  width: 50%;
  display: flex;
  align-items: center;
  pointer-events: none
}
.btn-nav-right {
  height: 5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none
}

.nav-shadow-left {
  box-shadow:inset 150px 0 100px -100px #1F1719;
}
.nav-shadow-right {
  box-shadow:inset -150px 0 100px -100px #1F1719;
}
.image-list-li {
  display: flex;
  justify-content: center;
}
.img-height {
  height: 5rem;
}
#stars-container {
  display: flex;
  align-items: center;
}