#menu-side-nav {
  padding: 5% 0%;
}
#nav-title {
  font-weight: 700;
  font-size: 1.05rem;
  margin-bottom: 7.5%;
}
#nav-item-parent {
  margin-left: 4px;
}
li#selected,
li#not-selected {
  padding: 5px 0;
}
li#selected {
  border-left: 4px solid var(--primary);
}
li#selected > ul > li > a {
  color: var(--primary);
  font-weight: bold;
  margin-left: -4px;
}
a#selected {
  color: var(--primary);
  font-weight: 400;
}
.list-item {
  color: #a3a3a3;
  font-weight: bold;
}
